{% extends 'layout/base.html '%}

{% block 'title' %}Inicio{% endblock %}

{% block 'content' %}
    <h1>Bienvenido a tu gestor personal</h1>
    <div class="cards">
        <a href="{% url 'todo' %}" class="index">
            <div class="card">
                <span>TAREAS</span> 
            </div>
        </a>
        <a href="{% url 'contact' %}" class="index">     
            <div class="card">
                <span>CONTACTOS</span> 
            </div>
        </a>
    </div>
{% endblock %}